/*-------Blog CSS-------------- */

a {
text-decoration: none;
color: inherit;
}

.header {
display: flex;
justify-content: space-between;
align-items: center;
height: 70px;
padding: 0 30px;
background-color: #000;
color: #fff;
}

.header-ttl {
font-size: 24px;
width: 80px;
}

.header-nav-list {
display: flex;
font-weight: bold;
}

.header-nav-item:not(:last-child) {
margin-right: 30px;
}
/*------------------------------------ */



/*--------------------- firstview--------------------- */

.firstview {
  position: relative;
}

.firstview__content {
  position: absolute;
  top: 70px;
  left: 20%;
}


/*------------------------------------ */



















/*------------------------------------ */

a {
  text-decoration: none;
  color: inherit;
}
.footer {
  width: 100%;
  background-color: #000;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}
.footer-inner{
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}
.footer-ttl {
  font-size: 24px;
  text-align: center;
  margin-bottom: 30px;
}
.footer-nav-list{
  display: flex;
  font-weight: bold;
  width: 100%;
  justify-content: center
  font-size: 14px;
  margin-bottom:20px;
}
.footer-nav-item:not(:last-child) {
  margin-right: 30px;
}

.copyright{
  font-size: 12px;
}
/*------------------------------------ */
