/*-------contact CSS-------------- */
a {
  text-decoration: none;
  color: #000;
}

.drawer_nav {
  display: none;
}
.menu {
  display: none;
}

/*------------header------------ */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: #fff;
  color: #000;
  position: fixed; /* ウィンドウを基準に画面に固定 */
  top: 0px; /* 上下の固定位置を上から0pxにする */
  left: 0px; /* 左右の固定位置を左から0pxにする */
  z-index: 10;
}

main {
  padding-top: 60px; /* ヘッダーの後ろに要素が隠れないようにするため */
}
.header-logo {
  padding: 20px 30px;
}

.header-ttl {
  font-size: 24px;
  width: 80px;
}

.header-nav-list {
  display: flex;
  justify-content: space-between;
  padding-right: 30px;
  font-weight: bold;
  z-index: 10;
}

.header-nav-item:not(:last-child) {
  margin-right: 30px;
}

.header_logo img {
  width: 70px;
  height: auto;
}

/*--------------------- firstview--------------------- */

.firstview {
  position: relative;
  padding: 30px 0;
}

.firstview__eyecatch > img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.firstview__content-eyecatch {
  color: #fff;
  font-size: 30px;
  margin: 0 auto;
}

.firstview__content {
  position: absolute;
  top: 100px;
  left: 45%;
}

/*------------contact form-------------- */

.contact-form {
  padding: 80px 0;
  width: 75%;
  margin: 0 auto;
}

.contact-form-item-name {
  font-weight: bold;
}

.contact-form-item-input {
  margin-top: 5px;
  font-size: 16px;
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
}

.contact-form-item {
  margin-top: 20px;
}

.contact-form-item-required {
  color: #cc0000;
  margin-left: 5px;
}

.contact-form-item-textarea {
  font-size: 16px;
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
}

.contact-form-submit {
  width: 300px;
  margin: 20px auto 0;
  padding: 10px;
  display: block;
  background-color: #000;
  color: #fff;
  font-weight: bold;
}

/*------------------------------------ */

/*------footer--------*/

.footer {
  width: 100%;
  background-color: #000;
  color: #fff;
  padding: 20px 0px;
  text-align: center;
}
.footer-inner {
  display: flex;
  justify-content: space-between;
}
.footer-ttl {
  font-size: 12px;
  text-align: center;
}

.footer-nav-list {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 20px, 20px;
  font-size: 12px;
  list-style: none;
  margin-right: 100px;
}

.footer-nav-item:not(:last-child) {
  margin-right: 30px;
}

.copy {
  margin-left: 100px;
}

/*------------------responsive------------------------------------------ */

@media screen and (max-width: 768px) {
  .header-nav.wrap {
    width: 85%;
  }
  .wrap-s {
    width: 90%;
  }
  .header-nav {
    display: none;
  }

  a {
    text-decoration: none;
  }

  .nav {
    position: absolute;
    height: 100vh;
    width: 100%;
    left: -100%;
    background: #eee;
    transition: 0.7s;
    text-align: center;
  }

  .nav ul {
    padding-top: 80px;
  }

  .nav ul li {
    list-style-type: none;
    margin-top: 50px;
  }

  .menu {
    display: inline-block;
    width: 36px;
    height: 32px;
    cursor: pointer;
    position: relative;
    margin-top: 20px;
    margin-right: 30px;
    margin-bottom: 30px;
  }

  .menu__line--top,
  .menu__line--middle,
  .menu__line--bottom {
    display: inline-block;
    width: 90%;
    height: 4px;
    background-color: #000;
    position: absolute;
    transition: 0.5s;
  }

  .menu__line--top {
    top: 0;
  }

  .menu__line--middle {
    top: 14px;
  }

  .menu__line--bottom {
    bottom: 0;
  }

  .menu.open span:nth-of-type(1) {
    top: 14px;
    transform: rotate(45deg);
  }

  .menu.open span:nth-of-type(2) {
    opacity: 0;
  }

  .menu.open span:nth-of-type(3) {
    top: 14px;
    transform: rotate(-45deg);
  }

  .in {
    transform: translateX(100%);
  }
  /*------------------------------------------------------ */

  .drawer_nav {
    display: block;
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    left: -100%;
    background: #fff;
    transition: 0.7s;
  }

  .drawer_nav_list {
    padding-top: 80px;
    text-align: center;
  }

  .drawer_nav_item {
    margin-top: 40px;
    color: #0033cc;
    font-size: 18px;
  }

  .firstview {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .firstview_content {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
  }

  .message_content {
    flex-wrap: wrap;
    display: block;
  }

  .message_ttl {
    font-size: 30px;
    font-weight: bold;
  }

  .message_text {
    font-size: 15px;
  }

  /*-------------service---------------------------------------------- */

  .service_content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 85%;
    height: auto;
    margin: 0 auto;
    margin: 20px 20px;
  }
  /*-------------blog------------------------------------------------- */
  .blog-wrap__item img {
    width: 100%;
    height: auto;
  }

  .blog_head_ttl {
    display: block;
    text-align: center;
    font-size: 30px;
    color: #000;
    margin: 50px, auto;
    margin-top: 80px;
    margin-bottom: 30px;
  }

  .blog_list {
    display: block;
    width: 100%;
    align-items: center;
    background-color: #fff;
    height: 800px;
  }

  .blog_inner {
    display: flex;
    flex-wrap: wrap;
  }

  .blog_item {
    width: 85%;
    margin-top: 20px;
    margin-left: 30px;
  }

  .blog-wrap__item {
    display: inline-block;
  }

  .blog_date {
    display: flex;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .blog_ttl {
    display: block;
    font-size: 18px;
    font-weight: bold;
    padding: 20px, 0;
  }

  /*------------------------------------------------------ */

  #recruit {
    margin-top: 400px;
    margin-bottom: 80px;
  }

  /*------------------------------------------------------ */

  .footer-copyright {
    text-align: center;
    font-size: 12px;
    margin-top: 100px;
  }

  .footer-nav-list {
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-size: 12px;
    list-style: none;
  }

  .footer-nav-item {
    display: block;
    text-align: center;
    margin-top: 15px;
    width: 50%;
  }

  .footer-nav-item:after {
    display: none;
  }
  .copy {
    margin-left: 50px;
  }
}
/*------------------------------------------------------ */
