/*-------index CSS-------------- */

a {
  text-decoration: none;
  color: inherit;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 30px;
  background-color: #fff;
  color: #000;
}

.header-ttl {
  font-size: 24px;
  width: 80px;
}

.header-nav-list {
  display: flex;
  font-weight: bold;
}

.header-nav-item:not(:last-child) {
  margin-right: 30px;
}
/*------------------------------------ */
.flex__item {
  display: flex;
  justify-content: space-between;
}

/*--------------------- firstview--------------------- */

.firstview {
  position: relative;
}

.firstview__eyecatch > img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.firstview__content-eyecatch {
  color: #fff;
  font-size: 50px;
  padding: 30, auto;
  margin: 0, auto;
}

.firstview__content {
  position: absolute;
  top: 200px;
  left: 10%;
}

.firstview__content-sub-copy {
  color: #fff;
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  padding: 20px 20px;
}

/*-----------message------------------------- */

.message {
  display: block;
  width: 100%;
  height: 300px;
  background-color: #000;
  color: #fff;
  padding: 50px, 50px;
}

.message__title {
  display: inline-block;
  font-size: 30px;
  font-weight: bold;
  padding: 100px, 100px;
  margin: 30px, 30px, 30px;
}

.message__content {
  margin: 50px, 50px;
  padding: 50px, 50px;
}

.message__text {
  margin: 50px, 50px;
  padding: 100px 50px 100px 50px;
}

/*--------------news------------------ */

.top_news_content {
  text-decoration: none;
  background-color: #000;
  padding: 80px 0;
  width: 100%;
  height: 300px;
}

.top_news_inner_wrap {
  width: 85%;
  margin: 0, auto;
  margin-left: 7%;
}

.top_news_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top_news_head_ttl {
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  margin-left: 20px;
}

.top_news_head_btn {
  width: 160px;
  text-align: center;
  background-color: #cc0000;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  padding: 15px;
  margin-right: 20px;
}

.news_link {
  display: flex;
  border: 1px solid #222;
  padding: 20px;
  font-size: 14px;
  background: #fff;
}

.news_item {
  display: block;
  padding: 20px;
  margin: 0, auto;
}
.news_date {
  margin-right: 30px;
}
.news_ttl {
  display: block;
  font-weight: bold;
}

/*-------------blog list------------------ */

.blog_list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 80px 0;
  background-color: #fff;
  height: 400px;
}

.blog_item {
  width: 30%;
  margin-top: 20px;
  margin-left: 30px;
  background: #fff;
}

.blog-wrap__item img {
  width: 100%;
  height: auto;
}

.blog_date {
  font-size: 15px;
  margin-top: 5px;
  display: block;
}

.blog_link__btn {
  display: block;
  width: 200px;
  text-decoration: none;
  text-align: center;
  background-color: #cc0000;
  color: #fff;
  font-weight: bold;
  padding: 15px 50px;
  margin: 0 auto;
  margin-top: 50px;
}

/*---------------------recruit--------------------- */

#recruit {
  margin-top: 80px;
  margin-bottom: 80px;
}

.recruit__item {
  height: 250px;
  position: relative;
  width: 50%;
  display: block;
  transition: 0.4s;
}

.recruit__item:hover {
  filter: grayscale(1);
  transition: 0.4s;
}

.recruit__item--first {
  background: #cc0000;
  background-size: cover;
}

.recruit__item--second {
  background: #000;
  background-size: cover;
}

.recruit__item-ttl {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 25px;
}

/*---------------contact----------------- */

.contact__content {
  display: block;
  width: 100%;
  height: 300px;
  background-color: #f8f8ff;
}

.contact__ttl {
  display: block;
  text-align: center;
  padding: 80px 50px 0px 50px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-size: 30px;
}

.contact__message {
  display: block;
  text-align: center;
  padding: 25px, 50px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.contact__btn {
  display: block;
  width: 200px;
  text-decoration: none;
  text-align: center;
  background-color: #cc0000;
  color: #fff;
  font-weight: bold;
  padding: 15px 50px;
  margin: 0 auto;
}

/*---------------footer----------------- */
a {
  text-decoration: none;
  color: inherit;
}
.footer {
  width: 100%;
  background-color: #000;
  color: #fff;
  padding: 20px 0px;
  text-align: center;
}
.footer-inner {
  display: flex;
  justify-content: space-between;
}
.footer-ttl {
  font-size: 12px;
  text-align: center;
}

.footer-nav-list {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 20px, 0px;
  font-size: 12px;
  list-style: none;
  margin-right: 100px;
}

.footer-nav-item:not(:last-child) {
  margin-right: 30px;
}

.copy {
  margin-left: 100px;
}
/*------------------------------------ */
