/*-------news CSS--------------*/

a {
  text-decoration: none;
  color: inherit;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 30px;
  background-color: #fff;
  color: #000;
}

.header-ttl {
  font-size: 24px;
  width: 80px;
}

.header-nav-list {
  display: flex;
  font-weight: bold;
}

.header-nav-item:not(:last-child) {
  margin-right: 30px;
}

/*--------------------- firstview--------------------- */

.firstview {
  position: relative;
}

.firstview__eyecatch > img {
  width: 100%;
  height: 240px;
  object-fit: cover;
}

.firstview__content-eyecatch {
  color: #fff;
  font-size: 30px;
  margin: 0 auto;
}

.firstview__content {
  position: absolute;
  top: 100px;
  left: 45%;
}

/*------------news----------------------- */

.news_content {
  align-items: center;
  background-color: #fff;
  margin: 0 auto;
  padding: 80px;
  width: 75%;
}

.news_link {
  display: flex;
  align-items: center;
  border: 1px solid #222;
  padding: 20px;
  font-size: 14px;
}

.news_item {
  display: block;
  padding: 10px;
}
.news_date {
  margin-right: 10px;
}
.news_ttl {
  display: block;
  font-weight: bold;
}

/*---------------contact----------------- */

.contact__content {
  display: block;
  width: 100%;
  height: 300px;
  background-color: #f8f8ff;
}

.contact__ttl {
  display: block;
  text-align: center;
  padding: 80px 50px 0px 50px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-size: 30px;
}

.contact__message {
  display: block;
  text-align: center;
  padding: 25px, 50px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.contact__btn {
  display: block;
  width: 200px;
  text-decoration: none;
  text-align: center;
  background-color: #cc0000;
  color: #fff;
  font-weight: bold;
  padding: 15px 50px;
  margin: 0 auto;
}

/*---------------footer----------------- */
a {
  text-decoration: none;
  color: inherit;
}
.footer {
  width: 100%;
  background-color: #000;
  color: #fff;
  padding: 20px;
  text-align: center;
}
.footer-inner {
  display: flex;
  justify-content: space-between;
}
.footer-ttl {
  font-size: 12px;
  text-align: center;
}

.footer-nav-list {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 20px, 0px;
  font-size: 12px;
  list-style: none;
  margin-right: 100px;
}

.footer-nav-item:not(:last-child) {
  margin-right: 30px;
}

.copy {
  margin-left: 100px;
}
/*------------------------------------ */
