/*-------recruit CSS-------------- */

a {
  text-decoration: none;
  color: #000;
}


.drawer_nav {
    display: none;
  }

.menu{
  display:none;
}




/*------------header------------ */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: #fff;
  color: #000;
  position: fixed; /* ウィンドウを基準に画面に固定 */
  top: 0px; /* 上下の固定位置を上から0pxにする */
  left: 0px; /* 左右の固定位置を左から0pxにする */
  z-index: 10;
}
main {
  padding-top: 90px; /* ヘッダーの後ろに要素が隠れないようにするため */
}
.header-logo {
  padding: 20px 30px;
}

.header-ttl {
  font-size: 24px;
  width: 80px;
}

.header-nav-list {
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
  font-weight: bold;
  z-index: 10;
}

.header-nav-item:not(:last-child) {
  margin-right: 30px;
}

.header_logo img {
  width: 70px;
  height: auto;
}

/*----------- firstview---------------*/

.firstview {
  position: relative;
}

.firstview__eyecatch > img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.firstview__content-eyecatch {
  color: #fff;
  font-size: 30px;
  margin: 0 auto;
}

.firstview__content {
  position: absolute;
  top: 100px;
  left: 45%;
}

/*------------saiyou------------------ */

.sinsotsu_saiyou {
  width: 70%;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 50px;
}

.recruit_ttl {
  font-size: 30px;
  font-weight: bold;
  padding: 10px 0;
  border-bottom: 1px solid #000;
}

.recruit_text {
  margin: 30px 0 30px;
}

.recruit_table {
  width: 100%;
}

.recruit_table_th {
  margin: 0 auto;
  text-align: center;
  padding: 15px 30px;
  border: 1px solid #000;
  width: 30%;
  background: #f5f5f5;
}

.recruit_table_td {
  margin-left: 0;
  text-align: left;
  padding: 15px 30px 15px 15px;
  border: 1px solid #000;
}

.career_saiyou {
  width: 70%;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
}

/*---------------contact----------------- */

.contact__content {
  display: block;
  width: 100%;
  height: 300px;
  background-color: #f8f8ff;
}

.contact__ttl {
  display: block;
  text-align: center;
  padding: 80px 50px 0px 50px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-size: 30px;
}

.contact__message {
  display: block;
  text-align: center;
  padding: 25px, 50px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.contact__btn {
  display: block;
  width: 200px;
  text-decoration: none;
  text-align: center;
  background-color: #cc0000;
  color: #fff;
  font-weight: bold;
  padding: 15px 50px;
  margin: 0 auto;
}

/*---------------footer----------------- */
a {
  text-decoration: none;
  color: inherit;
}
.footer {
  width: 100%;
  background-color: #000;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}
.footer-inner {
  display: flex;
  justify-content: space-between;
}
.footer-ttl {
  font-size: 12px;
  text-align: center;
}

.footer-nav-list {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 20px, 0px;
  font-size: 12px;
  list-style: none;
  margin-right: 100px;
}

.footer-nav-item:not(:last-child) {
  margin-right: 30px;
}

.copy {
  margin-left: 100px;
}

/*------------responsive------------------------ */



@media screen and (max-width: 768px) {
  .wrap {
    width: 85%;
  }

  .wrap-s {
    width: 90%;
  }

  .header-nav {
    display: none;
  }

  .menu {
    display: inline-block;
    width: 36px;
    height: 32px;
    cursor: pointer;
    position: relative;
    z-index: 10;
  }

  .menu-line-top,
  .menu-line-middle,
  .menu-line-bottom {
    display: inline-block;
    width: 100%;
    height: 4px;
    background-color: #000;
    position: absolute;
    transition: 0.5s;
  }

  .menu-line-top {
    top: 0;
  }

  .menu-line-middle {
    top: 14px;
  }

  .menu-line-bottom {
    bottom: 0;
  }

  .menu.open span:nth-of-type(1) {
    top: 14px;
    transform: rotate(45deg);
  }

  .menu.open span:nth-of-type(2) {
    opacity: 0;
  }

  .menu.open span:nth-of-type(3) {
    top: 14px;
    transform: rotate(-45deg);
  }

  .drawer-nav{
    display: block;
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    left: -100%;
    background: #fff;
    transition: .7s;
  }

  .drawer-nav-list {
    padding-top: 80px;
    text-align: center;
  }

  .drawer-nav-item {
    margin-top: 40px;
    color: #0033cc;
    font-size: 18px;
  }

  .in {
    transform: translateX(100%);
  }

  .footer-copyright {
    margin: 0 auto;
  }

  .footer-nav-item {
    text-align: center;
    margin-top: 10px;
    width: 100%;
  }

  .footer-nav-item:after {
    display: none;
  }
}




